# remove index.php from request but maintain the query string

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILNENAME} !-f
RewriteCond %{REQUEST_FILNENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]